.game-board{
  position: relative;
  top: -35px;
}

.disc {
  width: 3em;
  height: auto;
  padding: 5px;
}

.row,{
  justify-content: space-around;
  width: min-content;
  display: flex;
}

.columnSelector{
  width: 2em;
  height: 2em;
  padding: 0;
  border: 0;
  margin: 5.5px;
  background: transparent;
}
.selector{
  position: relative;
  top: 48px;
  left: -1px;
}