.game-board{
  position: relative;
  top: -35px;
}

.disc {
  width: 3em;
  height: auto;
  padding: 5px;
}

.row{
  justify-content: space-around;
  display: flex;
}

.columnSelector{
  width: 3.2em;
  height: 3.2em;
  padding: 0;
  border: 0;
  background: transparent;
}
.selector{
  position: relative;
  top: 43px;
  left: -1px;
}
