*{
  margin: 0;
  box-sizing: border-box;
}
body{
  background-image: url('https://cdn.dribbble.com/users/621155/screenshots/2835329/coorzzz.gif');
  background-size: 800px;
  background-position-x: -210px;
  height: 50vh;
  width: 100vw;
}

.header{
  display: flex;
  justify-content: flex-end;
  height: 10vh;
  width: auto;
  background-image: url('../images/sky.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
}
.sun{
  background-image: url('../images/sunny.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 87px; 
  height: 85px;
  width: 100px;
}

/* Body content */

.charizard{
  background-image: url('https://thumbs.gfycat.com/WiltedIdioticFrilledlizard-size_restricted.gif');
  background-size: 250px; 
  height: 180px;
  width: 290px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;

}
.clouds{
  background-image: url('https://data.whicdn.com/images/275493408/original.gif');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 65vh;
}

/* Footer content */

.footer{
  height: 25vh;
  background: rgb(241, 239, 233);
  border-style: solid;
  border-width: 5px 0;
  border-color: black;
  display: flex;
  border-radius: px 10px 0 0;
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.toggle{
  background: rgb(129, 120, 120);
  border-color: transparent;
  border-style: solid;
  border-radius: 100px;
  height: 120px;
  width: 120px;
  position: relative;
}
.control{
  background: rgb(65, 49, 49);
  border-color: rgb(184, 170, 170);
  opacity: .7;
  border-style: solid;
  border-radius: 100px;
  height: 65px;
  width: 65px;
  margin: 25px;
}
.home-button{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14pt;
  text-align: center;
  background: rgb(68, 66, 66);
  border-color: rgb(2, 2, 2);
  border-radius: 50px;
  height: 35px;
  width: 65px;
  text-decoration:none
}

.home-button:active {
  background: #070606;
  -webkit-box-shadow: inset 0px 0px 10px #9e9e9e;
     -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
          box-shadow: inset 0px 0px 10px #464646;
   outline: none;
  height: 30px;
  width: 60px;
  font-size: 12pt;
}

.button-container{
  color: white;
  font-size: 13pt;
  text-shadow: 2px 2px black;
  text-align: center;
  background: rgb(129, 120, 120);
  border-radius: 10px;
  height: 120px;
  width: 160px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px
}
.text{
  width: 70px;
}
.games-button{
  color: white;
  font-size: 13pt;
  text-align: center;
  border-style: solid;
  border-color: rgb(126, 24, 24);
  background: rgb(212, 3, 3);
  border-radius: 100px;
  height: 60px;
  width: 60px;
}

.games-button:active {
  background: #d11a1a;
  -webkit-box-shadow: inset 0px 0px 10px #7e2727;
     -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
          box-shadow: inset 0px 0px 10px #000000;
   outline: none;
}

.info-button{
  color: white;
  font-size: 13pt;
  text-align: center;
  border-style: solid;
  border-color: rgb(126, 24, 24);
  background: rgb(212, 3, 3);
  border-radius: 100px;
  height: 60px;
  width: 60px;
}

.info-button:active {
  background: #d11a1a;
  -webkit-box-shadow: inset 0px 0px 10px #7e2727;
     -moz-box-shadow: inset 0px 0px 10px #c1c1c1;
          box-shadow: inset 0px 0px 10px #000000;
   outline: none;
}

.nav{
  margin: 30px;
}
.games{
  height: 500px;
}
/* .tic{
  background-image: url('../images/tic.png');
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 130px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
}
.game2{
  background-image: url('../images/four2.png');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center;
  height: 130px;
  width: 130px;
  border-style: solid;
  border-width: 4px;
  border-color: black;
} */
.main{
  margin: 30px
}

.login-container{
  height: 65vh;
  background-color:rgb(77, 187, 238);
  display: flex;
  align-items: center;
  justify-content: center
}

.games {
  height: 65vh;
  background-color: white;
}

.form-set{
  display: space-betweenl

}

button {
  margin-left: 45px;
}